@import '../../../style/index';

.hint {
  position: absolute;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-around;

  text-align: center;
}

.hint {
  opacity: 0;
  transition: opacity $animation-duration-fast;
}
.hint--visible {
  opacity: 1;
}
