@import '../../../style/index';

$color--controls:        $color-gray-6;
$color--controls-active: $color-gray-5;

.controls {
  fill: $color--controls;
}

.controls_handle:hover {
  cursor: pointer;
  fill: $color--controls-active;
}

.controls_handle {
  opacity: 0;
  transition: opacity $animation-duration-fast;
}
.controls_handle--visible {
  opacity: 1;
}
