@import '../../../style/index';

.hint {
  display: flex;
  flex: 1;
  margin: $space-inset-s;
}

.hint {
  opacity: 0;
  transition: opacity $animation-duration-fast;
}
.hint--visible {
  opacity: 1;
}
