@import '../../../style/index';

$color--guide-dark: rgba($color-black, 0.2);
$color--guide-light: rgba($color-black, 0.1);

.guides {
  pointer-events: none;
}

.guide {
  opacity: 0;
  transition: opacity $animation-duration-fast;
}
.guide--visible {
  opacity: 1;
}

.guide_ticks,
.guide_path {
  opacity: 0;
  transition: opacity $animation-duration-fast;
}
.guide_ticks {
  .guide--show-ticks & { opacity: 1; }
}
.guide_path {
  .guide--show-path & { opacity: 1; }
}

.guide_text {
  display: none;
}
.guide_line {
  stroke: $color--guide-dark;
  fill: none;
}
.guide_shape {
  fill: $color--guide-dark;
}
.guide_arc {
  stroke: $color--guide-dark;
  fill:   $color--guide-light;
}
