@import '../../style/index';

$color--guide-line: rgba($color-black, 0.2);
$color--guide-fill: rgba($color-black, 0.1);

.guides {
}

.guide {
  opacity: 0;
  transition: opacity $animation-duration-fast;
}
.guide--visible {
  opacity: 1;
}

.guide_text {
  display: none;
}
.guide_line {
  stroke: $color--guide-line;
}
.guide_circle {
  stroke: $color--guide-line;
  fill: none;
}
.guide_arc {
  stroke: $color--guide-line;
  fill:   $color--guide-fill;
}
