@import '../../style/index';

.canvas {
  display: flex;
  position: relative;
  flex: 1;

  margin: $space-s;
  background-color: $color-white;
  border: $border-style-standard;
}
.canvas--is-panning {
  cursor: move;
}

.canvas_inner {
  flex: 1;
}
.canvas_background {
  pointer-events: all;
  fill: none;
}

.canvas_overlay {
  pointer-events: none;
  display: flex;
  flex-direction: row;

  position: absolute;
  top:    0;
  bottom: 0;
  left:   0;
  right:  0;
}

.canvas_overlay-hud {
  pointer-events: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.canvas_overlay-footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex: 1;
  height: $space-l;

  margin: $space-inset-s;
  align-self: flex-end;
}
