$color-black:  #1e3341;
$color-white:  #ffffff;
$color-red:    #e1301c;
$color-yellow: #fda83d;
$color-green:  #29a84f;
$color-blue:   #2870bd;
$color-indigo: #12527d;
$color-violet: #725e99;

$color-gray-1: #1e3341;
$color-gray-2: #40515d;
$color-gray-3: #627079;
$color-gray-4: #848f96;
$color-gray-5: #a6adb2;
$color-gray-6: #c8ccce;
$color-gray-7: #ebebeb;
$color-gray-8: #ffffff;

$color-blue-1: #2870bd;
$color-blue-2: #5f9cdd;
$color-blue-3: #eaf3fc;
