@import '../../../style/index';

.drawing {
  fill: none;
  stroke: $color-black;
}

.mark {
  cursor: pointer;
}
.mark--highlighted {
  stroke: $color-blue-2;
}
.mark_line {
  stroke-width: 2;
}
.mark_hitbox {
  stroke: transparent;
  stroke-width: 30;
}
