@import '../../../style/index';

$color--mark-highlighted: $color-blue-4;

.drawing {
  fill: none;
  stroke: none;
}

.mark {
  cursor: pointer;
}

.mark_plain,
.mark_highlight {
  stroke-width: 2;
}
.mark_plain {
  stroke: $color-black;
}
.mark_highlight {
  display: none;
  stroke: $color--mark-highlighted;
  marker-end: url('#arrowhead');
}
.mark_arrowhead {
  fill: $color--mark-highlighted;
}

.mark--highlighted {
  .mark_highlight {
    display: block;
  }
}

.mark_hitbox {
  stroke: transparent;
  stroke-width: 20;
}
