@import '../../../style/index';

$color--mark-highlighted: $color-blue-4;

.drawing {
  fill: none;
  stroke: none;
}

.mark {
  cursor: pointer;
}
.mark--highlighted {
  .mark_line {
    stroke: $color--mark-highlighted;
  }
  .mark_arrow {
    fill: $color--mark-highlighted;
  }
}

.mark_turn {
  stroke: none;
}
.mark_line {
  stroke: $color-black;
  stroke-width: 2;
}
.mark_hitbox {
  stroke: transparent;
  stroke-width: 20;
}
