@import '../../style/index';

.program {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.program_lines {
  flex: 1;
  overflow-y: scroll;
  user-select: none;
  @include scrollable();
}
.program_footer {
  margin: $space-inset-s;
  height: $space-l;
}
