@import '../../style/index';

.program {
  display: flex;
  flex-direction: column;
}

.program_line {
  font-family: $font-family-monospace;
  padding: $space-inset-stretch-s;
}
.program_line--highlighted {
  background: $color-blue-3;
}
