@import '../../style/index';

.turtle-app {
  position: relative;
  display: flex;
  height: 100vh;

  background-color: $color-gray-7;
}

.turtle-app_sidebar {
  display: flex;
  width: $space-xl * 8;
  background-color: $color-white;
  box-shadow: $shadow-m;
}
