let square = (side) -> do
  move_forward(side)
  turn_right(-90)
  move_forward(side)
  turn_right(-90)
  move_forward(side)
  turn_right(-90)
  move_forward(side)
  turn_right(-90)

square(200)
square(100)
